<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--This block has to be the first in configuration-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="FASBindingAsync" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://127.0.0.1:8080//ext-bus-fas-service/services/FASAsync" binding="basicHttpBinding" bindingConfiguration="FASBindingAsync"
				contract="GisZkhService.FASPortsTypeAsync" name="FASPortAsync"/>
		</client>
	</system.serviceModel>
</configuration>